/*
Font Families:
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Patrick Hand SC', cursive;
*/

body {
    font-family: 'Open Sans', sans-serif;
}

.datapoint {
    fill-opacity: 1;
}

h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18pt;
}

h3 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16pt;
}

.legend {
    font-size: 10pt;
}

.legendCircle {
    opacity: 1 !important;
    stroke: none;
}

.legendLabel {
    stroke: none;
    background-color: transparent;
}

li {
    font-weight: bold;
    font-size: 10pt;
}

.line {
    fill: none;
    stroke-width: 3;
    opacity: .7;
    z-index: -1 !important;
    position: absolute;
}

.mouse-per-line {
    font-size: 8pt;
    font-weight: bold;
}

p {
    font-size: 10pt;
}

.chart-background {
    stroke: black;
    stroke-width: 1px;
}

.xaxis {
    top: 6;
}

.yaxis {
    margin: 3px;
}

.xlabel {
    font-weight: bolder;
    font-size: 10pt;
}

.ylabel {
    font-weight: bolder;
    font-size: 10pt;
}

/*Reference: for d3-tip style: http://bl.ocks.org/Caged/6476579*/
.d3-tip {
  line-height: 1;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 8pt;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  padding-top: 0 !important;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*Custom D3 Tip Style */

.tipInfo {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 8pt;
}

.tipName {
    color: darkcyan;
}

.tipPlatform {

}

.tipCompany {

}

.tipFranchise {

}

.tipGenre {

}

.tipPublisher {

}

.tipYear {

}

.tipGlobalSales {
    color: red;
}

.tipNASales {
    color: darkorchid;
}

.tipEUSales {
    color: forestgreen;
}

.tipJPSales {
    color: cornflowerblue;
}

.tipOtherSales {
    color: gold;
}